<div class="container">
    <div class="row">
        <% if (errors.length> 0 ){ %>
            <div class="alert alert-danger mt-2">
                <% errors.forEach((error)=> { %>
                    <p class="fw-bold mt-1">
                        <%= error %>
                    </p>
                    <% })%>
            </div>
            <%} %>
                <% if (success.length> 0 ){ %>
                    <div class="alert alert-success mt-2">
                        <% success.forEach((succes)=> { %>
                            <p class="fw-bold mt-1">
                                <%= succes %>
                            </p>
                            <% })%>
                    </div>
                    <%} %>
    </div>
</div>