<%- include('../includes/head')%>
    <%- include('../includes/nav')%>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h1 class="mt-5 display-5 text-center">Categorias</h1>
                <hr class="mt-5">

                <div class="teste">
                    <div class="row d-flex justify-content-between">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">CEOs</h5>
                                    <p class="card-text">Lista de CEOs da empresa</p>
                                    <a href="/admin/categorias/ceo"><button class="btn btn-dark w-25">Ver todos</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Presidentes</h5>
                                    <p class="card-text">Lista de presidentes da empresa</p>
                                    <a href="/admin/categorias/presidente"><button class="btn btn-dark w-25">Ver todos</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="row d-flex justify-content-between mt-5">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Gerentes</h5>
                                    <p class="card-text">Lista de gerentes da empresa</p>
                                    <a href="/admin/categorias/gerente"><button class="btn btn-dark w-25">Ver todos</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Supervisores</h5>
                                    <p class="card-text">Lista de supervisores da empresa</p>
                                    <a href="/admin/categorias/supervisor"><button class="btn btn-dark w-25">Ver todos</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="row d-flex justify-content-between mt-5">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Analistas</h5>
                                    <p class="card-text">Lista de analistas da empresa</p>
                                    <a href="/admin/categorias/analista"><button class="btn btn-dark w-25">Ver todos</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Assistentes</h5>
                                    <p class="card-text">Lista de assistentes da empresa</p>
                                    <a href="/admin/categorias/assistente"><button class="btn btn-dark w-25">Ver todos</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="row d-flex justify-content-between mt-5">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Auxiliares</h5>
                                    <p class="card-text">Lista de auxiliares da empresa</p>
                                    <a href="/admin/categorias/auxiliar"><button class="btn btn-dark w-25">Ver todos</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Estagiários</h5>
                                    <p class="card-text">Lista de estagiários da empresa</p>
                                    <a href="/admin/categorias/estagiario"><button class="btn btn-dark w-">Ver todos</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
        <%- include('../includes/footer')%>